@{
    ViewBag.Title = "About";
}
<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/Content/images/aboutdoggo.png" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">

                        <div class="home_title"><h1>About us</h1></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<!-- Intro -->
<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="intro_content">
                    <div class="intro_subtitle page_subtitle">We are...</div>
                    <div class="intro_title"><h2>A family owned business since 2003!</h2></div>
                    <div class="intro_text">
                        <p>
                            We started back in 2003 with our original daycare “Doggo's Corner” in Kansas City's midtown! It's still a customer favorite, especially with our older and smaller fur babies!

                            <br /><br />Today we have four locations all over the Kansas City metro area and growing; “Stop and Wag” being the largest with a capacity of 200 dogs and more than 20 staff members!

                            <br /><br />In early 2019, we created this Reservation System to help our clients schedule their fur babies a day of fun and play to get all that energy out! We of course accept walk-ins at each facility, but for the safety of our client's dogs and our staff, we have a capacity limit for each location depending on it's size. If one location is at full capacity, we are more than happy to help schedule our clients at one of our other facilities.
                            
                        </p>

                        <br/>
                        <div><div class="button moveToCenter trans_200"><a href="#">Make a Reservation</a></div></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-md-6 intro_col">
                        <div class="intro_image"><img src="~/Content/images/Aboutintrodoggo1.png" alt="A young golden retriever with a flower in it's mouth."></div>
                    </div>
                    <div class="col-xl-4 col-md-6 intro_col">
                        <div class="intro_image"><img src="~/Content/images/Aboutintrodoggo3.png" alt="A pug playing tug-of-war"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Video -->
<div class="video_section">
    <div class="background_image" style="background-image:url(/Content/images//videodoggo2.png)"></div>
    <div class="video_section_content d-flex flex-column align-items-center justify-content-center text-center">
       
        <iframe width="860" height="516" src="https://www.youtube.com/embed/lIBQTZBRoC0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>