@{
    ViewBag.Title = "Home Page";
}


<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/Content/images/Homedoggo4.png" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_subtitle page_subtitle">Reserve A &nbsp; Pup is...</div>
                        <div class="home_title"><h1 style="font-size:50px">Kansas City's Best Doggy Daycare Reservation System</h1></div>
                        <div class="home_text ml-auto mr-auto">
                            @*<p>A family owned Pet Daycare business since 2003. Now you can easily reserve a spot for your pup at any of our Kansas City and surrounding Metro area locations with an easy click!</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!--doggo animation-->
    <div class="doof-wrapper">
        <div class="🐕">
            <div class="torso">
                <div class="fur">
                    <div class="spot"></div>
                </div>
                <div class="neck">
                    <div class="fur"></div>
                    <div class="head">
                        <div class="fur">
                            <div class="snout"></div>
                        </div>
                        <div class="ears">
                            <div class="ear">
                                <div class="fur"></div>
                            </div>
                            <div class="ear">
                                <div class="fur"></div>
                            </div>
                        </div>
                        <div class="eye"></div>
                    </div>
                    <div class="collar">

                    </div>
                </div>
                <div class="legs">
                    <div class="leg">
                        <div class="fur"></div>
                        <div class="leg-inner">
                            <div class="fur"></div>
                        </div>
                    </div>
                    <div class="leg">
                        <div class="fur"></div>
                        <div class="leg-inner">
                            <div class="fur"></div>
                        </div>
                    </div>
                    <div class="leg">
                        <div class="fur"></div>
                        <div class="leg-inner">
                            <div class="fur"></div>
                        </div>
                    </div>
                    <div class="leg">
                        <div class="fur"></div>
                        <div class="leg-inner">
                            <div class="fur"></div>
                        </div>
                    </div>
                </div>
                <div class="tail">
                    <div class="tail">
                        <div class="tail">
                            <div class="tail -end">
                                <div class="tail">
                                    <div class="tail">
                                        <div class="tail">
                                            <div class="tail"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Signature Dish -->
<div class="sig">
    <div class="sig_content_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="sig_content">
                        <div class="sig_subtitle page_subtitle">We Are...</div>
                        <div class="sig_title"><h1>A family owned business since 2003!</h1></div>
                        <div class="rating_r sig_rating rating_r_5" style="text-align: center;"><i></i><i></i><i></i><i></i><i></i></div>
                        <div class="sig_name_container d-flex flex-row align-items-start justify-content-start">
                            <div class="sig_name"> Now you can easily reserve a spot for your pup at any of our Kansas City and surrounding Metro area locations with an easy click!</div>
                           
                        </div>
                        @*<div class="sig_content_list">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li>Pork</li>
                                <li>Tenderloin</li>
                                <li>Green Pepper</li>
                                <li>Veggies</li>
                            </ul>
                        </div>*@
                        <div class="button sig_button trans_200"><a href="@Url.Action("Create","Reservations")">Make a Reservation</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sig_image_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-5">
                    <div class="sig_image">
                        <div class="background_image" style="background-image:url(/Content/images/indexdoggo.png)"></div>
                        <img src="~/Content/images/indexdoggo.png" alt="a mini-doodle running at full speed towards the camera">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Reservations -->
@*<div class="reservations text-center">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/Content/images//reservations.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="reservations_content d-flex flex-column align-items-center justify-content-center">
                    <div class="res_stars page_subtitle">5 Stars</div>
                    <div class="res_title">Make a Reservation</div>
                    <div class="res_form_container">
                        <form action="#" id="res_form" class="res_form">
                            <div class="d-flex flex-sm-row flex-column align-items-center justify-content-start">
                                <input type="text" id="datepicker" class="res_input" required="required">
                                <input type="text" class="res_input timepicker" required="required">
                                <select class="res_select">
                                    <option disabled="" selected="">2 person</option>
                                    <option>3 person</option>
                                    <option>4 person</option>
                                    <option>5 person</option>
                                    <option>6 person</option>
                                </select>
                            </div>
                            <button class="res_button">Make a Reservation</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@