
@{
    ViewBag.Title = "Services";
}


<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/Content/images/Homedoggo2.jpg" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">

                        <div class="home_title"><h1>Offered Services</h1></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<!-- The Menu -->
<div class="themenu">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="home_subtitle page_subtitle">A &nbsp; little extra for your Pup</div>
                    <br />

                </div>
            </div>
        </div>
        <div class="row themenu_text_row">
            <div class="col-lg-6">
                <div class="themenu_text">
                    <p>Besides our basic Daycare, we also offer additional services for our clients who love to pamper their pups! All additional services are offered at EVERY location. Information will be relayed between facilities if we are at capacity and our client's pup needs to be scheduled at a different facility than normal; <br /><br />No need for repeat information!</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="themenu_text">
                    <p>
                        Spoil your dog in our award winning grooming salons! Our salons are open 7 days a week and you can make reservations for bath & brushes, just a brush out, bath & haircuts, and even a la carte services like toe nail trims and teeth brushing. Prices may be adjusted depending upon coat condition and ease of handling each dog.<br /><br />
                        <strong>All grooming services must have a reservation in advance. Grooming Walk-ins are NOT allowed.</strong><br /><br />


                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<!-- The Menu -->
<div class="themenu">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="themenu_title_bar_container">
                    <div class="themenu_stars text-center page_subtitle">Our</div>
                    <div class="themenu_rating text-center">
                        <div class="rating_r rating_r_5"><i></i><i></i><i></i><i></i><i></i></div>
                    </div>
                    <div class="themenu_title_bar d-flex flex-column align-items-center justify-content-center">
                        <div class="themenu_title">Services</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row themenu_row">
            <!-- Starters -->
            <div class="col-lg-4 themenu_column">
                <div class="themenu_col">
                    <div class="themenu_col_title">Daycare</div>
                    <div class="dish_list">
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title"><h3>Full Day</h3></div>
                                <div class="dish_price">$20</div>

                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Group Play</li>
                                    <li>Nap Time</li>
                                    <li>Lunch (at request)</li>

                                </ul>
                            </div>

                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title"><h3>Half Day</h3></div>
                                <div class="dish_price">$10</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Group Play</li>
                                    <li>Lunch (at request)</li>

                                </ul>
                            </div>
                            <br />
                            <div class="button trans_200"><a href="#">Make a Reservation</a></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 themenu_column">
                <div class="themenu_col">
                    <div class="themenu_col_title">Grooming</div>
                    <div class="dish_list">

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title"><h3>Brush out</h3></div>
                                <div class="dish_price">$10</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Small (5-15 lbs.)</li>
                                    <li>Medium (15-25 lbs.)</li>
                                    <li>Intermediate (25-60 lbs.)</li>
                                </ul>
                            </div>
                            <br/>
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_price">$15</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Large (60-80 lbs.)</li>
                                    <li>X-Large (80+ lbs.)</li>
                                    
                                </ul>
                            </div>


                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title"><h3>Bath & Brush</h3></div>
                                <div class="dish_price">$25</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Small (5-15 lbs.)</li>
                                    <li>Medium (15-25 lbs.)</li>
                                    <li>Intermediate (25-60 lbs.)</li>
                                </ul>
                            </div>
                            <br />
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_price">$30</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Large (60-80 lbs.)</li>
                                    <li>X-Large (80+ lbs.)</li>

                                </ul>
                            </div>

                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Bath & Haircut</div>
                                <div class="dish_price">$45</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Small (5-15 lbs.)</li>
                                    <li>Medium (15-25 lbs.)</li>
                                    <li>Intermediate (25-60 lbs.)</li>
                                </ul>
                            </div>
                            <br />
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_price">$50</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Large (60-80 lbs.)</li>
                                    <li>X-Large (80+ lbs.)</li>

                                </ul>
                            </div>


                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">toe nail trim</div>
                                <div class="dish_price">$10</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Small (5-15 lbs.)</li>
                                    <li>Medium (15-25 lbs.)</li>
                                    <li>Intermediate (25-60 lbs.)</li>
                                </ul>
                            </div>
                            <br />
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_price">$15</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Large (60-80 lbs.)</li>
                                    <li>X-Large (80+ lbs.)</li>

                                </ul>
                            </div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Teeth Brushing</div>
                                <div class="dish_price">$15</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Small (5-15 lbs.)</li>
                                    <li>Medium (15-25 lbs.)</li>
                                    <li>Intermediate (25-60 lbs.)</li>
                                </ul>
                            </div>
                            <br />
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Large (60-80 lbs.)</li>
                                    <li>X-Large (80+ lbs.)</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Deserts -->
            <div class="col-lg-4 themenu_column">
                <div class="themenu_col">
                    <div class="themenu_col_title">Extras</div>
                    <div class="dish_list">
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Lava Cake</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Orange Tart</div>
                                <div class="dish_price">$17</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Cheese Cake</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Chocolatte Mausse</div>
                                <div class="dish_price">$17</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Ice Cream</div>
                                <div class="dish_price">$17</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Tenderloin</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                            <div class="dish_order"><a href="#">Order Now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>