@model DogDayCareRS.MVC.DATA.EF.OwnerAsset

@{
    ViewBag.Title = "Delete";
}

<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/Content/images/Admindoggo.png" data-speed="0.8"></div>
</div>

<h3 class="moveToCenter">Are you sure you want to delete @Model.AssetName's information?</h3>
<div class="moveToCenter">

    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

