@{
    ViewBag.Title = "Login Failure";
}
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/Content/images/Admindoggo.png" data-speed="0.8"></div>
</div>
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-error">Unsuccessful login with service.</h3>
</hgroup>
