@model DogDayCareRS.MVC.DATA.EF.Reservation

@{
    ViewBag.Title = "Delete";
}

<div class="home2">
    <div class="parallax-mirror2 parallax-slider2" data-parallax="scroll" data-image-src="/Content/images/Admindoggo.png" data-speed="0.8"></div>
</div>

<h3 class="moveToCenter">Are you sure you want to delete @Model.OwnerAsset.AssetName 's Reservation?</h3>
<div class="moveToCenter">

    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" /> |
            <div class="btn btn-primary backButton">
                @Html.ActionLink("Back to Reservations", "Index")
            </div>
        </div>
    }
</div>

